<div class="edit-operations">
    <h1 class="edit-operations-title mb-5">Редактирование дохода/расхода</h1>
    <div class="form">
        <input type="text" class="form-control mb-1 px-3" id="type-input" value="Доход" placeholder="Тип...">
        <input type="text" class="form-control mb-1 px-3" id="category-input" value="Зарплата" placeholder="Категория...">
        <input type="text" class="form-control mb-1 px-3" id="sum-input" value="500$" placeholder="Сумма в $...">
        <input type="text" class="form-control mb-1 px-3" id="date-input" value="11.09.2022" placeholder="Дата...">
        <input type="text" class="form-control mb-4 px-3" id="comment-input" placeholder="Комментарий...">
        <a href="#" class="btn btn-success py-2 px-3 me-2">Сохранить</a>
        <a href="#" class="btn btn-danger py-2 px-3">Отмена</a>
    </div>
</div>
