<div class="expenses">
    <h1 class="expenses-title mb-5">Расходы</h1>
    <div class="cards d-flex align-items-center flex-wrap gap-4">
        <div class="card p-3 rounded-3">
            <div class="card-body p-1">
                <h2 class="card-title mb-2">Еда</h2>
                <a href="#" class="btn btn-primary py-2 px-3 me-2">Редактировать</a>
                <a href="#" class="btn btn-danger py-2 px-3">Удалить</a>
            </div>
        </div>
        <div class="card p-3 rounded-3">
            <div class="card-body p-1">
                <h2 class="card-title mb-2">Жильё</h2>
                <a href="#" class="btn btn-primary py-2 px-3 me-2">Редактировать</a>
                <a href="#" class="btn btn-danger py-2 px-3">Удалить</a>
            </div>
        </div>
        <div class="card p-3 rounded-3">
            <div class="card-body p-1">
                <h2 class="card-title mb-2">Здоровье</h2>
                <a href="#" class="btn btn-primary py-2 px-3 me-2">Редактировать</a>
                <a href="#" class="btn btn-danger py-2 px-3">Удалить</a>
            </div>
        </div>
        <div class="card p-3 rounded-3">
            <div class="card-body p-1">
                <h2 class="card-title mb-2">Кафе</h2>
                <a href="#" class="btn btn-primary py-2 px-3 me-2">Редактировать</a>
                <a href="#" class="btn btn-danger py-2 px-3">Удалить</a>
            </div>
        </div>
        <div class="card p-3 rounded-3">
            <div class="card-body p-1">
                <h2 class="card-title mb-2">Авто</h2>
                <a href="#" class="btn btn-primary py-2 px-3 me-2">Редактировать</a>
                <a href="#" class="btn btn-danger py-2 px-3">Удалить</a>
            </div>
        </div>
        <div class="card p-3 rounded-3">
            <div class="card-body p-1">
                <h2 class="card-title mb-2">Одежда</h2>
                <a href="#" class="btn btn-primary py-2 px-3 me-2">Редактировать</a>
                <a href="#" class="btn btn-danger py-2 px-3">Удалить</a>
            </div>
        </div>
        <div class="card p-3 rounded-3">
            <div class="card-body p-1">
                <h2 class="card-title mb-2">Развлечения</h2>
                <a href="#" class="btn btn-primary py-2 px-3 me-2">Редактировать</a>
                <a href="#" class="btn btn-danger py-2 px-3">Удалить</a>
            </div>
        </div>
        <div class="card p-3 rounded-3">
            <div class="card-body p-1">
                <h2 class="card-title mb-2">Счета</h2>
                <a href="#" class="btn btn-primary py-2 px-3 me-2">Редактировать</a>
                <a href="#" class="btn btn-danger py-2 px-3">Удалить</a>
            </div>
        </div>
        <div class="card p-3 rounded-3">
            <div class="card-body p-1">
                <h2 class="card-title mb-2">Спорт</h2>
                <a href="#" class="btn btn-primary py-2 px-3 me-2">Редактировать</a>
                <a href="#" class="btn btn-danger py-2 px-3">Удалить</a>
            </div>
        </div>
        <div class="card p-3 rounded-3">
            <div class="card-body p-1 d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
                     stroke="#CED4DA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-plus">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
            </div>
        </div>
    </div>
</div>

<div class="pop-up-container d-block position-absolute top-0 start-0 end-0 bottom-0">
    <div class="pop-up bg-white p-3 toast rounded-3 d-block position-absolute" role="alert"
         aria-live="assertive" aria-atomic="true">
        <div class="toast-body p-4 text-center">
            <p class="pop-up-text">Вы действительно хотите удалить категорию? </p>
            <button type="button" class="btn btn-success btn-sm py-2 px-3 me-2">Да, удалить</button>
            <button type="button" class="btn btn-danger btn-sm py-2 px-3" data-bs-dismiss="toast">Не удалять
            </button>
        </div>
    </div>
</div>


